<div class="row">
  <div class="large-6 columns menu">
    <ul class="tabs" data-tab>
      <%array = @types_of_item_by_menu.keys
      array.each_with_index do |menu_name, i|
        %>
        <li class="tab-title active"><a href="#panel2-"<%= i + 1%>><%= menu_name %></a></li>
      <% end %>
    </ul>
    <div class="tabs-content">
        <%
        count = 1
         @types_of_item_by_menu.each do |menu,type_array|
          %>
         <div class="content active" id="panel2-"<%= count %>>
          <% type_array.each do |type_of_item, food_array| %>
            <h4><%=type_of_item%></h4>
            <ul>
              <% food_array.each do |food| %>
                <li><a href="#" data-reveal-id="modalWindow"><%=food.name %></a></li> -->
                <li><a href="#" data-reveal-id="modalWindow"><%=food.price %></a></li> -->
              <% end %>
            </ul>
          <% end %>
        </div>
        <% count += 1
        end
         %>
    </div>
  </div>
  <!-- Modal Window -->
  <div id="modalWindow" class="reveal-modal small" data-reveal>
    <!-- Menu Form -->
    <form>
      <div class="row">
        <div class="large-4 columns">
          <label for="left label" class="left inline">Quantity</label>
        </div>
        <div class="large-8 columns">
          <input type="text" id="right-label" placeholder="Quantity">
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label for="left label" class="left inline">Special Instructions</label>
        </div>
        <div class="large-8 columns">
          <input type="text" id="right-label" placeholder="Special Instructions">
        </div>
      </div>
    </form>
  <!-- Menu Form End -->

    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- End Modal Window -->
  <div class="row">
    <div class="large-6 columns panel">
      <h2>Restaurant Name</h2>
      <table>
        <thead>
          <tr>
            <th width="200">Item</th>
            <th width="100">Quantity</th>
            <th width="100">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Item Content</td>
            <td>Quantity Content</td>
            <td>Price Content</td>
          </tr>
          <tr>
            <td>Item Content</td>
            <td>Quantity Content</td>
            <td>Price Content</td>
          </tr>
          <tr>
            <td>Item Content</td>
            <td>Quantity Content</td>
            <td>Price Content</td>
          </tr>
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th width="200"></th>
            <th width="200"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Subtotal</td>
            <td>Subtotal Price</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td>Tax Price</td>
          </tr>
          <tr>
            <td>Total</td>
            <td>Total Price</td>
          </tr>
        </tbody>
      </table>
      <a class="tiny button radius round" href="#">Checkout</a>
    </div>
  </div>
</div>


